.box {
    /* cursor:"pointer" borderRadius:2, py:2, height:"300px", mx:2, my:2 */
    cursor: pointer;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 300px;
    margin: 10px 10px;
    transition: 0.1s
}

.box:hover {
    transform: scale(1.1);
    z-index: 2;
}


.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.font{
    font-family: 'Jost', sans-serif;
  
  }